@tailwind base;
@tailwind components;
@tailwind utilities;


@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  /* input Padding 사라지는 이슈 수정 */
  padding-left: 14px !important;
  padding-right: 14px !important;
}